@colorfff : #fff;
@clock09d : #09d;
@clock999 :#999;

@import "./header.less";

//主内容
.tablelist{
    margin-top: 20px;
    .row{
        &>div{
            background: url("../../../images/feature01.png") no-repeat;
            height: 65px;
            padding-left: 80px;
            margin-bottom: 20px;
        }
        h4{
           margin: 0;
        }
        &>div:nth-of-type(2){
            background: url("../../../images/feature02.png") no-repeat;
        }
        &>div:nth-of-type(3){
            background: url("../../../images/feature03.png") no-repeat;
        }
    }
  
}
//进行中借款
.panel-default{
    &>.panel-heading{
        background: transparent;
        padding: 0;
        h3{
            font-weight: bold;
            color: @clock09d;
            margin-bottom: 0;
            border-bottom: 3px solid @clock09d;
        }
        .pull-right{
            margin-top: 28px;
        }
    }
    .panel-body{
        padding: 15px 0px;
        ul {
            padding: 0;
            li{
                list-style: none;
                line-height: 33px;
                border-bottom: 1px dashed #ddd;
                a{
                    color: #333;
                    text-decoration: none;
                    &:hover{
                        color:@clock09d ;
                    }
                }    
            }
        }
        
    }
}
.panel{
    border: #fff;
    box-shadow:none;
}

//解决小屏幕问题
@media screen and (max-width:520px){
   .hidetitle{
       display: none;
   }
}

@import "./footer.less";
