@import "./header.less";

@color337ab7 : #337ab7;

.personal{
    margin-top: 10px;
   
    transition: all 1s;
    #btnOff{
        display: none;
    }
    .panel-title{
        a{
            color: @color337ab7;
            font-size: 14px;
            text-decoration:none;
            &:hover{
                color: #23527c;
            }
        }
    }
    .panel-group{
        margin-top: 0;
        .panel-body {
            padding: 0;
            p{
                padding: 10px 20px;
               margin: 0;
            }
            .active{
                background: @color337ab7 ;
                a{
                    color: #fff;
                }
            }
        }
    }
    .parderimg{
        border: 1px solid #ddd;
        padding: 10px;
        img{
            width:70px;
            height:70px;
            
        }
        margin-right: 20px;
    }
    .panel-body {
        .cimg{
            margin-top: 16px;
            height: 50px;
            border-top: 1px solid #ddd;
            P{font-size: 18px;padding-top: 10px;}
            span{
                color: @color337ab7;
            }
        }   
        .messagespadd{            
             padding: 0;
            list-style: none;
            h5{
                font-weight: bold;
            }
           
            .leftpadd{
                background: url('../../../images/shiming.png') no-repeat;
               padding-left: 70px;
               margin-top: 40px;
            }
            .leftpadd1{
                background: url('../../../images/shouji.jpg') no-repeat;
               margin-top: 40px;
               padding-left: 70px;
            }
            .leftpadd2{
                background: url('../../../images/youxiang.jpg') no-repeat;
               margin-top: 40px;
               padding-left: 70px;
            }
            .leftpadd3{
                background: url('../../../images/baozhan.jpg') no-repeat;
               margin-top: 40px;
               padding-left: 70px;
            }
        }
    }
  #perleft{
      .panel-group{
          margin-top: 0;
      }
      .panel{
        margin-top: 0;

      }
  }
}
@media screen and (max-width : 768px){
    .personal{
        .row{
            position: relative;
            height: 930px;
            left: 0;
            transition: all 1s;
        }
       overflow-x: hidden;
       

        #perleft{
            position: absolute;
            left: 0;
        }
        #perright{
            position: absolute;
            right:-50%;
            #btnOff{
                display: inline-block;
                position: absolute;
                top: 0;
                left:16px;
            }
        }
        .active{
            left: -50%;
        }
    }
  
}
#formtext{
    width: 40%;
    margin: 0 auto;
}

//borrow_apply

//尾部
@import "./footer.less";